/*******Root Global Styles*******/

:root {
    --primary-color: #060602; /* black */
    --accent:#22d3ee; /* blue */
    --white: #ffffff; /* white */
    --darkgray: #10120f; /* dark gray */
    --medgray: #1c1a19; /* medium gray */
    --lightgray:#292a28; /* lightgray */
    --hilightgray: #b8b8b8; /* light gray */
    --Iconbk: #1c1a1950; /* icon Back */
    --cont-width: 1200px; /* max content width */


}

/*******Global Styles*******/

*{
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

p, a, li {
  font-size: 16px;
}

.bluegradient {
  background: linear-gradient(90deg, var(--accent), var(--white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1{
  font-size:65px;
  margin:15px;
}

h2{
  font-size:46px;
  margin:14px;
}

h3{
  font-size:40px;
   margin:10px;
}

h4{
  font-size:30px;
  margin:10px;
}

h5{
  font-size:20px;
  margin:10px;
}

h6{
  font-size:18px;
  margin:10px;
}

.mainbtn{
  text-decoration:none;
  color: var(--primary-color); 
  background: linear-gradient(156deg, var(--accent), var(--white));
  font-weight:bold;
  padding:15px 30px;
  border-radius: 9999px;
  font-size:20px;
  margin: 20px;
}

.mainbtn:hover{
  background: linear-gradient(198deg, var(--accent), var(--white));
}

.flex {
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  gap:10px 10px;
}

/*******Secondary Button
.secbtn{
  text-decoration:none;
  color: var(--white); 
  padding:15px 30px;
  border: 2px solid var(--white);
  border-radius: 9999px;
  font-size:20px;
}
  *******/

/*******Body Styles*******/

body {
  background: var(--primary-color);
  animation: gradient-animation 50s ease infinite;
  margin: 0;
  padding: 0;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
  50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}


/*******Nav Styles*******/

header {
    max-width: 800px;
    margin: auto;
    padding: 40px 0px 0px 0px;
}

nav {
    background-color: var(--darkgray);
    margin: auto;
    border-radius: 9999px;
    padding: 20px;
    box-shadow: var(--hilightgray) 0px 0px 8px;
}

nav ul {
    margin:0px; 
    text-align: center;
}

nav li {
    display:inline;
    padding:0px 1rem;
    list-style-type: none;
}

nav ul li a {
    text-decoration:none;
    color: var(--hilightgray); 
    padding:8px 20px;
}

nav ul li a:hover {
    background-color: var(--lightgray);
    padding:8px 20px;
    border-radius: 9999px;
}


/*******Main Banner*******/

#hero{
    text-align: center;
    color: var(--white);
    margin: auto;
    padding: 40px 50px;
    max-width: var(--cont-width);
}

/*******Section Styles*******/

.container {
  border-radius: 50px 50px 0px 0px;
  text-align:center;
  padding:40px 40px 150px 40px;
  margin-bottom:-45px;
}

#skills h2, #projects h2, #clients h2, #contact h2{
  margin-bottom:30px;
}

#skills{
  background: linear-gradient(181deg, #1e1e1e, #060602);
  color: var(--white);
}

#projects{
  background: linear-gradient(181deg, #181818, #060602);
  color: var(--white);
}

#clients{
 background: linear-gradient(181deg, #1c1c1c, #060602);
  color: var(--white);
}

#contact{
 background: linear-gradient(181deg, #1e1e1e, #060602);
  color: var(--white);
}

section {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    gap:15px;
    max-width: var(--cont-width);
    margin: auto;
}

#skills section div {
  flex: 0 1 calc(100% / 6 - 20px); /* grow, shrink, basis */
  background-color: var(--medgray);
  color: var(--white);
  padding: 15px 20px;
  border-radius: 8px;
}

#skills section .other {
  flex: 0 1 calc(100% / 4 - 20px); /* grow, shrink, basis */
  background-color: var(--medgray);
  color: var(--white);
  padding: 15px 20px;
  border-radius: 8px;
  margin-top:60px;
}


#projects section div {
  flex: 0 1 calc(100% / 3 - 20px); /* grow, shrink, basis */
  background-color: var(--medgray);
  color: var(--white);
  padding: 0px;
  border-radius: 8px;
}

#clients section div {
  display:flex; 
  flex: 0 1 calc(100% / 6 - 16px); /* grow, shrink, basis */
  background-color: var(--white);
  box-sizing: border-box;
  padding: 10px;
  color: var(--white);
  border-radius: 8px; 
  align-items: center;
  justify-content: center;
  min-width: 0; /* allow shrinking inside flex */
}


#contact section div {
  flex: 0 1 calc(100% / 1 - 20px); /* grow, shrink, basis */
  color: var(--white);
  padding: 10px;
  border-radius: 8px; 
  height:100px;
  width:100px; 
}

/*******Skills Icons*******/

.container .fe i, .container .be i, .container .misc i,  .container .ss i, .container .other i{
  font-size: 35px;
}


.container .fe, .container .be, .container .misc, .container .ss, .container .other, .other i{
  box-shadow: 0px 0px 2px var(--hilightgray);
}


section div span{
  display:block;
  margin-top:12px;
  font-size:12px;
}

#html-icon:hover{
  box-shadow: 0px 0px 3px #f16524;
  background: linear-gradient(120deg, #e4bba850, var(--Iconbk));
}

#html-icon:hover i{
  color:#f16524;
}

#css-icon:hover{
  box-shadow: 0px 0px 3px #36adde;
  background: linear-gradient(120deg, #aed7e950, var(--Iconbk));
}

#css-icon:hover i{
   color: #36adde;
}

#js-icon:hover{
  box-shadow: 0px 0px 3px #f2c12d;
  background: linear-gradient(120deg, #f0dea950, var(--Iconbk));
}

#js-icon:hover i{
  color: #f2c12d;
}

#git-icon:hover{
  box-shadow: 0px 0px 3px #f05539;
  background: linear-gradient(120deg, #e8bab250, var(--Iconbk));
}

#git-icon:hover i{
  color: #f05539;
}

#wp-icon:hover{
  box-shadow: 0px 0px 3px #28799e;
  background: linear-gradient(120deg, #708c9950, var(--Iconbk));
}

#wp-icon:hover i{
  color: #28799e;
}

#php-icon:hover{
  box-shadow: 0px 0px 3px #7b7fb5;
  background: linear-gradient(120deg, #8f91af50, var(--Iconbk));
}

#php-icon:hover i{
  color: #7b7fb5;
}

#cpannel-icon:hover i{
  color: #f76f25; 
}

#cpannel-icon:hover{
  box-shadow: 0px 0px 3px #f76f25;
  background: linear-gradient(120deg, #f3cdb950, var(--Iconbk));
}

#ftp-icon:hover i{
   color: #31b8ea;
}

#ftp-icon:hover{
  box-shadow: 0px 0px 3px #31b8ea;
  background: linear-gradient(120deg, #9ad0e350, var(--Iconbk));
}

#ps-icon:hover i{
   color: #36abff;
}

#ps-icon:hover{
  box-shadow: 0px 0px 3px #36abff;
  background: linear-gradient(120deg, #36abff50, var(--Iconbk));
}

#figma-icon:hover i{
   color: #ff7667;
}

#figma-icon:hover{
  box-shadow: 0px 0px 3px #ff7667;
  background: linear-gradient(120deg, #fcc7c150, var(--Iconbk));
}

#seo-icon:hover i{
   color: #fbbe1b;
}

#seo-icon:hover{
  box-shadow: 0px 0px 3px #fbbe1b;
  background: linear-gradient(120deg, #fae7b050, var(--Iconbk));
}

#Mailchimp-icon:hover i{
   color: #ffe122;
}

#Mailchimp-icon:hover{
  box-shadow: 0px 0px 3px #ffe122;
  background: linear-gradient(120deg, #fef5b850, var(--Iconbk));
}

#datastu-icon:hover i{
   color: #669df6;
}

#datastu-icon:hover{
  box-shadow: 0px 0px 3px #669df6;
  background: linear-gradient(120deg, #b6cbee50, var(--Iconbk));
}

#crm-icon:hover i{
   color: #c7c7c7;
}

#crm-icon:hover{
  box-shadow: 0px 0px 3px #c7c7c7;
  background: linear-gradient(120deg, #a5a5a550, var(--Iconbk));
}

#ss-icon:hover i{
   color: #3fc5ed;
}

#ss-icon:hover{
  box-shadow: 0px 0px 3px #3fc5ed;
  background: linear-gradient(120deg, #a5d6e550, var(--Iconbk));
}


/*******Project Section*******/

#projects section div .project-info{
  padding:20px;
}

#projects img{
  width:100%;
  height:250px;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
}

.project-info {
  padding: 20px;
}

.Addskill{
  font-size:16px;
  font-weight:bold;
  color:var(--accent)
}

.AddskillInfinate{
  font-size:22px;
  font-weight:bold; 
  color:var(--accent)
} 

.techstack span{
  background-color: var(--lightgray);
  padding:6px;
  border-radius: 8px;
  flex:0 1 auto;
}

/*******Clients Section*******/

#clients img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

/*******Contact Section*******/



/*******Responsive Styles*******/

@media (max-width: 1700px) {
  header {
    width:90%;
  }
}


@media (max-width: 800px) {

  section {
    flex-direction: column;
  }
  section div {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }
}



