:root {
    --primary-color: #daf3ff; /* light blue */
    --secondary-color: #ffffff; /* light white */
    --font-family: 'Arial, sans-serif';
}

body {
  background: linear-gradient(269deg, var(--primary-color), var(--secondary-color));
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:50%;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    box-shadow: #e4e4e4 2px 2px 15px;
    margin-top:30px;
}

nav ul{
    margin:0px; 
}

nav li{
    display:inline;
    padding:0px 1rem;
}

#hero{
    text-align: center;
}